Header set Access-Control-Allow-Origin "*"
redirect 301 /index.html https://reeborg.ca/index_en.html
ErrorDocument 404 /404.html
# cache images and flash content for one month
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>

# cache for 6 hours
<FilesMatch ".(js|css|html|htm|json)$">
Header set Cache-Control "max-age=21600"
</FilesMatch>
RemoveHandler .py

RedirectMatch 301 ^/docs/begin_py_fr(.*) https://reeborg.ca/docs/fr/index.html
RedirectMatch 301 ^/docs/begin_py_en(.*) https://reeborg.ca/docs/en/index.html
