redirect 301 /index.html http://reeborg.ca/index_en.html
ErrorDocument 404 /404.html
# cache images and flash content for one month
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>

# cache for 12 hours
<FilesMatch ".(js|css|html|htm)$">
Header set Cache-Control "max-age=43200"
</FilesMatch>
RemoveHandler .py