/* reeborg.css
 * Modified from sphinxdoc.css of the sphinxdoc theme.
*/

@import url("basic.css");

.strike {
  text-decoration: line-through;
}

/* -- page layout ----------------------------------------------------------- */

div.red p.admonition-title {background-color: red !important;}

table.docutils td {
    border-left: 1px solid #aaa;
}
table.docutils {border-top: 1px solid #aaa; border-right: 1px solid #aaa;}

body {
    font-family: Trebuchet MS,Helvetica,Arial, sans-serif;
    font-size: 1em;
    line-height: 150%;
    text-align: center;
    padding: 0;
    margin: auto;
    max-width: 1200px;
    min-width: 800px;
    box-shadow: 0px 0px 10px #9aa;
    background: url("subtle_dots.png") repeat;

}

div.document {
    text-align: left;
    background-color: white;
}

div.bodywrapper {
    margin: 0 240px 0 0;
    border-right: 1px dotted rgb(146, 158, 183);
}

div.body {
    background-color: white;
    margin: 0;
    padding: 0.5em 20px 20px 20px;
    min-height: 300px;
}

div.related {
    font-size: 1em;
  background-color: #123264;
  background-image: -webkit-linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
  background-image: -moz-linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
  background-image: -ms-linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
  background-image: -o-linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
  background-image: -linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
    padding: 0;
    border-bottom: 4px solid #75a110;
}

div.related ul {
    height: 37px;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
}

div.related ul li {
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
    margin: 0;
    height: 37px;
    padding: 8px 5px 12px;
    line-height: 37px;
    text-decoration: none;
    color: white;
}

div.related ul li a:hover {
  background-color: #75a110;
  background-image: -webkit-linear-gradient(top, #beff7f, #96c423 50%, #75a110);
  background-image: -moz-linear-gradient(top, #beff7f, #96c423 50%, #75a110);
  background-image: -ms-linear-gradient(top, #beff7f, #96c423 50%, #75a110);
  background-image: -o-linear-gradient(top, #beff7f, #96c423 50%, #75a110);
  background-image: -linear-gradient(top, #beff7f, #96c423 50%, #75a110);
}

div.related ul li a.logo{float: left; padding: 2px 20px 0 0; margin-right: 30px; font-size: 30px;
  font-weight: bold; text-decoration: none; color: white; line-height: 27px;
    position:relative;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.3), 0 0 5px rgba(0,0,0,.4), 0 1px 3px rgba(0,0,0,.3), 1px 3px 5px rgba(0,0,0,.4),
    2px 5px 10px rgba(0,0,0,.35), 5px 10px 10px rgba(0,0,0,.45);
}
img.logo{margin-right:10px; padding-left:10px;}


dl {
    margin-left: 10px;
}

a[href^="http"] {
    padding-right:16px;
    background:transparent url(external_link.png) right no-repeat;
}

blockquote {
    font-style: italic;
}

/*-----------------------------------*/
div.sphinxsidebarwrapper {
    position: relative;
    padding: 0;
}

div.sphinxsidebar {
    margin: 0;
    padding: 0 15px 15px 0;
    width: 210px;
    max-width: 210px;
    float: right;
    font-size: 1em;
    text-align: left;
    padding-left: 0.5em;
}


div.sphinxsidebar h3, div.sphinxsidebar h4 {
    border-top: 1px solid #0a507a;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 14px;
    padding-left: 14px;
    font-weight: 300;
}

div.sphinxsidebar h3 a {
    color: #123264;
}

div.sphinxsidebar h4 {
    font-size: 1.2em;
}


div.sphinxsidebar ul {
    margin-top: 7px;
    padding: 0;
    line-height: 130%;
    color: #586e75;
}

div.sphinxsidebar ul ul {
    margin-left: 20px;
}

div.sphinxsidebar ul li {
    list-style-type: none;
}


div.sphinxsidebar input{
    border: 1px solid #eee8d5;
}

div.sphinxsidebar input[type="submit"]{
  border: none;
  background-color: #123264;
  background-image: -webkit-linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
  background-image: -moz-linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
  background-image: -ms-linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
  background-image: -o-linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
  background-image: -linear-gradient(top, #2d5ab4 20%, #1e3c78 60%, #123264 80%);
    padding: 2px 5px;
    color: white;
}

div.sphinxsidebar input[type="submit"]:hover {
  background-color: #75a110;
  background-image: -webkit-linear-gradient(top, #beff7f, #96c423 50%, #75a110);
  background-image: -moz-linear-gradient(top, #beff7f, #96c423 50%, #75a110);
  background-image: -ms-linear-gradient(top, #beff7f, #96c423 50%, #75a110);
  background-image: -o-linear-gradient(top, #beff7f, #96c423 50%, #75a110);
  background-image: -linear-gradient(top, #beff7f, #96c423 50%, #75a110);

}


div.footer {
    background-color: white;
    color: #2d5ab4;
    padding: 3px 8px 3px 0;
    clear: both;
    font-size: 0.8em;
    text-align: center;
}

div.footer a {
    color: #2d5ab4;
    text-decoration: none;
}

/* -- body styles ----------------------------------------------------------- */

p {
    margin: 0.8em 0 0.5em 0;
}

div.body a, div.sphinxsidebarwrapper a {
    color: #2d5ab4;
    text-decoration: none;
}

div.body a:hover, div.sphinxsidebarwrapper a:hover, div.footer a:hover {
    border-bottom: 1px solid #669d9d;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: bold;
}

h1 {
    margin: 0;
    padding: 0.7em 0 0.3em 0;
    color: #123264;
    line-height: 1.2em;
}

h2 {
    margin: 1.3em 0 0.2em 0;
    padding: 0 0 10px 0;
    color: #123264;
}
h1, h2, h3, h4 {
    color: #123264;
}


h3 {
    margin: 1em 0 -0.3em 0;
    padding-bottom: 5px;
}


div.body h1 a, div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    color: #657B83!important;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa!important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover {
    color: #777;
    background-color: #eee;
}

a.headerlink {
    color: #c60f0f!important;
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none!important;
}

a.headerlink:hover {
    background-color: #ccc;
    color: white!important;
}


hr {
    border: 1px solid #eee;
    margin: 2em;
}

.highlight {
    border: solid 1px #d4d4d4;
    margin: 0 10px;
    border-radius: 5px;
}


code, tt {
    font-family: monospace;
	  font-size: 1.2em;
    font-style: normal;
    padding: 0 5px;
    background-color: whitesmoke;
    border: solid 1px #d4d4d4;
    border-radius: 5px;
}


pre {
  font-family: monospace;
  font-style: normal;
	font-size: 1.2em;
    margin: 0.5em;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre a {
    color: inherit;
    text-decoration: underline;
}


div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

.toctree-wrapper ul {
    list-style: none;
}

/* -- sidebars -------------------------------------------------------------- */

div.sidebar {
    width: 40%;
    float: right;
    margin: 1em 0 1em 0;
    border: 1px solid #eee;
    background-color: #ffe;
    padding: 0;
    box-shadow: 0px 8px 6px -8px #93a1a1;
}

div.sidebar div.code {
    margin: 0 1em;
}

div.sidebar p.sidebar-title {
    background-color: #123264;
    margin: 0;
    padding: 0.2em 0 0.2em 0.6em;
    color: white;
    border-bottom: 1px solid #eee8d5;
    font-weight: bold;
}

div.sidebar p.sidebar-title span.pre {
    color: black;
}

div.sidebar p {
    margin: 0.1em 0 0.1em 0.3em;
}


table {
    border-collapse: collapse;
    margin: 0 -0.5em 0 -0.5em;
}

table td, table th {
    padding: 0.2em 0.5em 0.2em 0.5em;
}


div.topic p.topic-title {
    background-color: #3e7e10;
    margin: 0;
    padding: 0.2em 0 0.2em 0.6em;
    color: white;
    border-bottom: 1px solid #eee8d5;
    font-weight: bold;
}

div.topic p, div.topic div.highlight {
    margin: 0.5em 1em 0.5em 1em;
}

div.admonition, div.topic {
    margin: 1em 0 1em 0;
    border: 1px solid #eee;
    background-color: #ffe;
    padding: 0;
    box-shadow: 0px 8px 6px -8px #93a1a1;
}

div.admonition p, div.admonition div.highlight {
    margin: 0.5em 1em 0.5em 1em;
}

div.admonition p.admonition-title
{
    margin: 0;
    padding: 0.2em 0 0.2em 0.6em;
    color: white;
    border-bottom: 1px solid #eee8d5;
    font-weight: bold;
    background-color: #268bd2;
}

div.warning p.admonition-title,
div.important p.admonition-title {
    background-color: #cb4b16;
}

div.hint p.admonition-title,
div.tip p.admonition-title {
    background-color: #268bd2;
}

div.note {
    width: 45%;
    float: right;
    margin-left: 10px;
}

div.caution p.admonition-title,
div.attention p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title {
    background-color: #dc322f;
}

div.admonition ul, div.admonition ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}


